<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
  <title>SAR MAPPING DEMO</title>

  <link rel="stylesheet" href="https://js.arcgis.com/4.9/esri/css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="{% static 'js/d3.v4.min.js' %}"></script>
  <script src="{% static 'js/d3-polygon-clip.js' %}"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://js.arcgis.com/4.9/"></script>
  <style>
    html,
    body,
    #viewDiv {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }

    .SARP-container {
      z-index: 99;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      width: 320px;
    }
    #text {
          color: white;
          padding: 3%;
        }
    .editArea-container {
      background: #fff;
      font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height: 1.5em;
      overflow: auto;
      padding: 12px 15px;
      width: 300px;
    }
    .edit-button:hover,
    .edit-button:focus {
      background-color: #e4e4e4;
    }
    .edit-button {
      font-size: 14px;
      height: 32px;
      margin-top: 10px;
      width: 100%;
      background-color: transparent;
      border: 1px solid #0079c1;
      color: #0079c1;
    }
  </style>

  <script>


    require([
      "esri/widgets/Sketch/SketchViewModel",
      "esri/Graphic",
      "esri/Map",
      "esri/views/MapView",
      "esri/layers/FeatureLayer",
      "esri/layers/GraphicsLayer",
      "esri/geometry/Polygon",
      "esri/geometry/geometryEngine",
      "esri/widgets/Expand",
        "esri/layers/TileLayer",
        "esri/widgets/BasemapToggle",
      "esri/widgets/FeatureForm",//-----------------------------
      "esri/views/2d/draw/Draw"

    ], function(
      SketchViewModel, Graphic, Map, MapView, FeatureLayer,
      GraphicsLayer, Polygon, geometryEngine, Expand, TileLayer,BasemapToggle,
      FeatureForm,
      Draw
    ) {
      let view, sketchViewModel, graphicsLayer, boundaryPolygon,
        validSymbol, draw,
        invalidSymbol, bufferLayer, buffers, newDevelopmentGraphic,
        instructionsExpand;
      let intersects = false,
        contains = true;

//Transportation example:
//https://developers.arcgis.com/javascript/latest/sample-code/sandbox/index.html?sample=intro-layers
//Transportation service:
//https://server.arcgisonline.com/arcgis/rest/services/Reference/World_Transportation/MapServer


//river example:
//Geo services:  https://services.arcgis.com/6DIQcwlPy8knb6sg/ArcGIS/rest/services
//https://developers.arcgis.com/javascript/latest/sample-code/featurelayerview-query-geometry/index.html
//https://developers.arcgis.com/javascript/latest/sample-code/sandbox/index.html?sample=tasks-route
//https://doc.arcgis.com/en/arcgis-online/reference/geojson.htm


      var width=1600*1.5;
      var height=900*1.5;

      var scale=17;
      var gcx=-80.5665968;
      var gcy=37.1997589;
      var gwidth=2343.398;
      var gheight=1372.284;
      var voronoistyle="clear";
      var glvertices;
      var glverticeslist=[];
      var endtask=true;
//  wkid: 102100 vs wkid: 4326
//wkid 102100/pix =1.5 (2444,1366/1600,900)
//wkid 102100: left-top (-8970062.142, 4467672.843), right-bottom (-8967625.712	4466311.309)

      setUpView();
      function polygonClone(polygon) {
      var cloned = [],
          i,
          n;

      for (i = 0, n = polygon.length; i < n; i++) {
        cloned.push([polygon[i][0], polygon[i][1]]);
      }

      return cloned;
    }
      function FilterBoundary(x,y,maxx,maxy,minx,miny){
        if (x>maxx) {
          x=maxx;
        }
        else if (x<minx) {
          x=minx;
        }
        if (y>maxy) {
          y=maxy;
        }
        else if (y<miny) {
          y=miny;
        }
        return [x,y];
      }

      // creates new view and map, adds featurelayers and graphicslayer to the view


      view.when(function() {
        // Query all buffer features from the school buffers featurelayer
        bufferLayer.queryFeatures().then(function(results) {
          buffers = results.features[0].geometry;
        });

        // Add the boundary polygon and new lot polygon graphics
        //addGraphics();


        // Create a new instance of sketchViewModel and set its required properties
        sketchViewModel = new SketchViewModel({
          view: view,
          layer: graphicsLayer
        });


      });

      function addVoronoi(){
        var sites = d3.range(15)
        .map(function(d) { return [Math.random() * gwidth-8969950, Math.random() * gheight+4466302.948]; });
        var voronoi = d3.voronoi().extent([[-8969950,4466302.948], [-8967606.602,4467675.232]]);
        var diagram = voronoi(sites),
            links = diagram.links(),
            vpolygons = diagram.polygons();

        var points=[
          [-8968055.67002504, 4467092.399528231],
          [-8968043.726739371, 4467591.628869176],
          [-8969939.12617497, 4467585.657226342],
          [-8969923.5999036, 4466376.996716685],
          [-8968965.748392982, 4466375.802388118],
          [-8968683.886851205, 4466670.801544131],
          [-8968375.750080956, 4466919.221886037]
        ];
        //var points=[[-8969000.383921422, 4467221.387013451],[-8968013.8685252, 4467196.306113547],[-8968722.105365345, 4466472.543002033]];
        //var testpoints=[[-8969359.876820046, 4467388.593012811],[-8968423.523223631, 4467385.01002711],[-8969169.978577916, 4466720.963343939]];
        //counter clockwise
        //var cpy=d3.polygonClip(points.reverse(),polygonClone(testpoints));


        var cpy=[];
        for(var i=0;i<vpolygons.length;i++){
          var temp=d3.polygonClip(vpolygons[i],polygonClone(points.reverse()));

          if(temp.length>0){
            cpy.push(temp);
          }
        }

        //var cpy=vtriangles.map(function(e){ return d3.polygonClip(points.reverse(),polygonClone(e));});
        vpolygons=cpy;


        addGraphics(vpolygons);
      }
      // Add new development polygon graphic and boundary polygon graphics
      //
      function addTriangle(){

              var sites =[
                  [-8969595.159547715,4466816.509629287],
                  [-8969390.929362783,4466843.979186324],
                  [-8969481.698333865,4467187.9458135795],
                  [-8969408.247126916,4467306.184341663],
                  [-8968981.87182855,4467445.9207839845],
                  [-8968559.079515884,4467154.504613671],
                  [-8968476.670844771,4467165.253570773],
                  [-8968407.399787892,4467000.436228547],
                  [-8968292.744245475,4467030.294442719],
                  [-8968181.671688758,4467198.694770645],
                  [-8967898.615818413,4467535.495426498],
                  [-8967597.645019565,4467263.188513256],
                  [-8969143.106185075,4466485.680616233],
                  [-8968569.828472985,4467659.705597452],
                  [-8968437.258002063,4467825.717268244],
                  [-8969888.367210792,4467681.203511654],
                  [-8967838.89939007,4467193.917456377],
                  [-8968891.700021924, 4466012.12933939],
                  [-8968652.834308527, 4466368.039252353],
                  [-8968332.754252575, 4466628.402879956],
                  [-8967900.407311326, 4466848.159336282],
                  [-8967661.541597927, 4466922.207707435],
                  [-8967606.602,4467675.232],
                  [-8967606.602,4466302.948],
                  [-8969950,4467675.232],
                  [-8969950,4466302.948]
              ];

        //-8967606.602,4467675.232,-8969950,4466302.948
        //      sites.push([-8967606.602,4467675.232]);
              var vring=[];
              for( var i =0;i<sites.length;i++){
                vring.push(FilterBoundary(sites[i][0],sites[i][1],-8967606.602,4467675.232,-8969950,4466302.948));
              }
              sites=vring;

              var voronoi = d3.voronoi();
              var vtriangles = voronoi.triangles(sites);

              var points=[
                [-8968055.67002504, 4467092.399528231],
                [-8968043.726739371, 4467591.628869176],
                [-8969939.12617497, 4467585.657226342],
                [-8969923.5999036, 4466376.996716685],
                [-8968965.748392982, 4466375.802388118],
                [-8968683.886851205, 4466670.801544131],
                [-8968375.750080956, 4466919.221886037]
              ];
              //var points=[[-8969000.383921422, 4467221.387013451],[-8968013.8685252, 4467196.306113547],[-8968722.105365345, 4466472.543002033]];
              //var testpoints=[[-8969359.876820046, 4467388.593012811],[-8968423.523223631, 4467385.01002711],[-8969169.978577916, 4466720.963343939]];
              //counter clockwise
              //var cpy=d3.polygonClip(points.reverse(),polygonClone(testpoints));


              var cpy=[];
              for(var i=0;i<vtriangles.length;i++){
                var temp=d3.polygonClip(vtriangles[i],polygonClone(points.reverse()));

                if(temp.length>0){
                  cpy.push(temp);
                }
                else{
                  console.log(i);
                }
              }

              //var cpy=vtriangles.map(function(e){ return d3.polygonClip(points.reverse(),polygonClone(e));});
              vtriangles=cpy;
              //var cpy=vtriangles.map(function(e){ return d3.polygonClip(e,polygonClone(points));});

              //vtriangles=cpy;
              /*
              path = path.data(voronoi(points2).map(function(e) {
              return d3.geom.polygon(e).clip(points.slice(0));

              }), polygon);


              */

              //console.log(vtriangles);
              addGraphics(vtriangles);
      }

      function addFreedraw(){
        var action = draw.create("polygon");

        // focus the view to activate keyboard shortcuts for drawing polygons
        view.focus();

        // listen polygonDrawAction events to give immediate visual feedback
        // to users as the polygon is being drawn on the view.
        action.on("vertex-add", drawPolygon);
        action.on("cursor-update", drawPolygon);
        action.on("vertex-remove", drawPolygon);
        action.on("redo", drawPolygon);
        action.on("undo", drawPolygon);
        action.on("draw-complete", drawPolygon);
      }

      function addGraphics(vtriangles) {
        // transfer the voronoi polygon:vpolygons to gispolygon

        for (var i=0;i<vtriangles.length;i=i+1){
          vtriangles[i].push(vtriangles[i][0]);
        }

        var polygon = new Polygon({
          hasZ: true,
          hasM: true,
          rings: vtriangles,
          spatialReference: { wkid: 102100  }
        });


        //const polygon = createGeometry(vertices);
        validSymbol = createSymbol([0, 170, 255, 0.4], "solid", 2, [255,
          255, 255
        ]);
        //-------------------------------
        newDevelopmentGraphic = new Graphic({
          geometry: polygon,
          symbol: validSymbol,
          attributes: {
            newDevelopment: "new store"
          }
        });
        view.graphics.add(newDevelopmentGraphic);
        //graphicsLayer.addMany([newDevelopmentGraphic]);
      }

      function createGeometry(vertices) {
        return new Polygon({
          rings: vertices,
          spatialReference: view.spatialReference
        });
      }

      function createSymbol(color, style, width, outlineColor) {
        return {
          type: "simple-fill",
          style: style,
          color: color,
          outline: {
            color: outlineColor,
            width: width
          }
        }
      }

      // Create new view, map and layers... set up the view
      function setUpView() {

        bufferLayer = new FeatureLayer({
          portalItem: {
            id: "a1fc918a654648eb833826d1c198922e"
          }
        });

        graphicsLayer = new GraphicsLayer();

        const map = new Map({
          basemap: "hybrid",//"hybrid",//"satellite",
          layers: [  graphicsLayer]
        });


/*
        var featureLayer = new FeatureLayer({
          url: "https://services.arcgis.com/6DIQcwlPy8knb6sg/ArcGIS/rest/services/Hydro2014/FeatureServer/0"
        });

        map.add(featureLayer);
        */
        //https://server.arcgisonline.com/arcgis/rest/services/World_Street_Map/MapServer
        var transportationLayer = new TileLayer({
          url: "https://server.arcgisonline.com/arcgis/rest/services/Reference/World_Transportation/MapServer",
          // This property can be used to uniquely identify the layer
          id: "something",
          visible: true
        });
        map.add(transportationLayer);
        //console.log(transportationLayer);
        view = new MapView({
          container: "viewDiv",
          map: map,
          zoom: scale,
          center: [gcx,gcy]//,35.4
        });
        var toggle = new BasemapToggle({
          // 2 - Set properties
          view: view, // view that provides access to the map's 'topo' basemap
          nextBasemap: "topo" // allows for toggling to the 'hybrid' basemap
        });

        // Add widget to the top right corner of the view
        view.ui.add(toggle, "bottom-left");
        setupEditing();
        view.ui.add("draw-polygon", "top-left");
        draw = new Draw({
        view: view
      });
      }
      document.getElementById("draw-polygon").addEventListener("click",
        function() {
          endtask=false;
          //view.graphics.removeAll();

          var action = draw.create("polygon");

          // focus the view to activate keyboard shortcuts for drawing polygons
          view.focus();

          // listen polygonDrawAction events to give immediate visual feedback
          // to users as the polygon is being drawn on the view.
          action.on("vertex-add", drawPolygon);
          action.on("cursor-update", drawPolygon);
          action.on("vertex-remove", drawPolygon);
          action.on("redo", drawPolygon);
          action.on("undo", drawPolygon);
          action.on("draw-complete", drawPolygon);

        });
        $(document).ready(function(){
            $('input:checkbox').click(function() {
                $('input:checkbox').not(this).prop('checked', false);
                if(this.checked) voronoistyle=this.value;

            });
        });
        //generate voronoi
        document.getElementById("btngeneratearea").onclick=function() {
          endtask=true;
          view.graphics.removeAll();
          glverticeslist=[];
          if(voronoistyle=="random"){

            addVoronoi();
          }
          else if(voronoistyle=="triangle"){
            addTriangle();
          }
          else if(voronoistyle=="clear"){
            endtask=false;
            addFreedraw();
          }

        };
      // this function is called from the polygon draw action events
      // to provide a visual feedback to users as they are drawing a polygon
      function drawPolygon(event) {
        if(endtask==true) return;
        var glvertices = event.vertices;
        //remove existing graphic
        view.graphics.removeAll();

        if(glverticeslist.length>0) addGraphics(glverticeslist);

        // create a new polygon
        var polygon = new Polygon({
          rings: glvertices,
          spatialReference: view.spatialReference
        });

        // create a new graphic representing the polygon, add it to the view
        var graphic = new Graphic({
          geometry: polygon,
          symbol: {
            type: "simple-fill", // autocasts as SimpleFillSymbol
            color: [178, 102, 234, 0.8],
            style: "solid",
            outline: { // autocasts as SimpleLineSymbol
              color: [255, 255, 255],
              width: 2
            }
          }
        });

        view.graphics.add(graphic);

        // calculate the area of the polygon
        var area = geometryEngine.geodesicArea(polygon, "acres");
        if (area < 0) {
          // simplify the polygon if needed and calculate the area again
          var simplifiedPolygon = geometryEngine.simplify(polygon);
          if (simplifiedPolygon) {
            area = geometryEngine.geodesicArea(simplifiedPolygon, "acres");
          }
        }
        // start displaying the area of the polygon
        labelAreas(polygon, area);

        if(event.type=="draw-complete"){
          addGraphics(glvertices);
          if(endtask==false && voronoistyle=="clear"){

            glverticeslist.push(glvertices);
            addFreedraw();
          }
        }
      }



      //Label polyon with its area
      function labelAreas(geom, area) {
        var graphic = new Graphic({
          geometry: geom.centroid,
          symbol: {
            type: "text",
            color: "white",
            haloColor: "black",
            haloSize: "1px",
            text: area.toFixed(2) + " acres",
            xoffset: 3,
            yoffset: 3,
            font: { // autocast as Font
              size: 14,
              family: "sans-serif"
            }
          }
        });
        view.graphics.add(graphic);
      }

      function setupEditing() {
        // input boxes for the attribute editing
        editArea = document.getElementById("editArea");

        // Create a new feature form and set its layer to
        // 'incidents' featureLayer. Feature form displays
        // attributes of the fields specified in fieldConfig.
        featureForm = new FeatureForm({
          container: "formDiv",
          layer: bufferLayer,

        });

        // Listen to the feature form's submit event.


        // Expand widget for the editArea div.
        const editExpand = new Expand({
          expandIconClass: "esri-icon-edit",
          expandTooltip: "Expand Edit",
          expanded: true,
          view: view,
          content: editArea
        });

        view.ui.add(editExpand, "top-right");

      }
    });


  </script>
</head>

<body>
  <div id="editArea" class="editArea-container">
    <h2 class="list-heading">Tools</h2>
    <div id="addFeatureDiv">

      <h3 class="list-heading">Map</h3>
      <div><input type="checkbox" name="voronoi" class="check" value="random"> Random Voronoi</input></div>
      <div><input type="checkbox" name="voronoi" class="check" value="triangle"> Triangle based on vertices</input></div>
      <div><input type="checkbox" name="voronoi" class="check" value="clear"> Freehand Polygon</input></div>

      <input type="button" class="edit-button" value="Generate area" id="btngeneratearea">
    </div>
    <div>
    </div>
    <div id="drawpolygon">
      <h3 class="list-heading">Draw</h3>
      <div>Draw and measure polygon. Finish task by double click</div>

    </div>
  </div>
  <div id="viewDiv">
    <!--div id="SARParameter" class="SARP-container">
      <div id="text">
        <h1>Tools</h1>
        <p>This is a test page for dividing map for SAR tasks</p>

      </div>

    </div-->
    <div id="draw-polygon" class="esri-widget--button esri-widget esri-interactive"
      title="Draw and measure polygon">
      <span class="esri-icon-polygon"></span>
    </div>
  </div>


</body>

</html>
