<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
  <title>Sketch update validation - 4.9</title>

  <link rel="stylesheet" href="https://js.arcgis.com/4.9/esri/css/main.css">


  <script src="{% static 'js/d3.v4.min.js' %}"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://js.arcgis.com/4.9/"></script>
  <style>
    html,
    body,
    #viewDiv {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
      font-family: verdana;
    }

    #instructions {
      width: 300px;
      background: #fff;
      padding: 20px;
    }
  </style>

  <script>


    require([
      "esri/widgets/Sketch/SketchViewModel",
      "esri/Graphic",
      "esri/Map",
      "esri/views/MapView",
      "esri/layers/FeatureLayer",
      "esri/layers/GraphicsLayer",
      "esri/geometry/Polygon",
      "esri/geometry/geometryEngine",
      "esri/widgets/Expand"
    ], function(
      SketchViewModel, Graphic, Map, MapView, FeatureLayer,
      GraphicsLayer, Polygon, geometryEngine, Expand
    ) {
      let view, sketchViewModel, graphicsLayer, boundaryPolygon,
        validSymbol,
        invalidSymbol, bufferLayer, buffers, newDevelopmentGraphic,
        instructionsExpand;
      let intersects = false,
        contains = true;



      var width=1600*1.5;
      var height=900*1.5;

      var scale=17;
      var gcx=-80.5665968;
      var gcy=37.1997589;

//  wkid: 102100 vs wkid: 4326
//wkid 102100/pix =1.5 (2444,1366/1600,900)
//wkid 102100: left-top (-8970062.142, 4467672.843), right-bottom (-8967625.712,	4466311.309)


      setUpView();
      console.log(width);
      var sites = d3.range(10)
      .map(function(d) { return [Math.random() * width, Math.random() * height]; });
      var voronoi = d3.voronoi().extent([[-1, -1], [width + 1, height + 1]]);//.extent([[-8970062.142, 4467672.843], [-8967625.712,	4466311.309]]);
      var diagram = voronoi(sites),
          links = diagram.links(),
          vpolygons = diagram.polygons();
      console.log(vpolygons);



      // creates new view and map, adds featurelayers and graphicslayer to the view


      view.when(function() {
        // Query all buffer features from the school buffers featurelayer
        bufferLayer.queryFeatures().then(function(results) {
          buffers = results.features[0].geometry;
        });

        // Add the boundary polygon and new lot polygon graphics
        addGraphics();


        // Create a new instance of sketchViewModel and set its required properties
        sketchViewModel = new SketchViewModel({
          view: view,
          layer: graphicsLayer
        });


      });


//center x,y: -8968838.254,4466990.583


      function TransPolyToGIS(x,y,pw,ph,gcx,gcy,scale){
        tx=(x-pw/2)+gcx;
        ty=(y-ph/2)+gcy;
        return [tx,ty];
      }
      // Add new development polygon graphic and boundary polygon graphics
      function addGraphics() {
        // transfer the voronoi polygon:vpolygons to gispolygon
        vrings=[];

        for (var i = 0; i < vpolygons.length; i=i+1) {
          tempr=[];
          for (var j=0;j<vpolygons[i].length; j=j+1){
            tempr.push(TransPolyToGIS(vpolygons[i][j][0],vpolygons[i][j][1],width,height,-8968838.254,4466990.583,scale));
          }

          tempr.push(tempr[0]);
          vrings.push(tempr);
        }
        console.log(vrings);
        //3D polygon rings with m-values (note that the second ring does not have m-values defined for it)
        const rings = [
         [  // first ring
          [-97.06138,32.837,35.1,4.8],
          [-97.06133,32.836,35.2,4.1],
          [-97.06124,32.834,35.3,4.2],
          [-97.06138,32.837,35.1,4.8]  // same as first vertex
         ], [  // second ring
          [-97.06326,32.759,35.4],
          [-97.06298,32.755,35.5],
          [-97.06153,32.749,35.6],
          [-97.06326,32.759,35.4]  // same as first vertex
         ]
        ];
        // check Convex hull for generating convex polygons based on points
        const mpoints=[
            [-8969595.159547715,4466816.509629287],
            [-8969390.929362783,4466843.979186324],
            [-8969481.698333865,4467187.9458135795],
            [-8969408.247126916,4467306.184341663],
            [-8968981.87182855,4467445.9207839845],
            [-8968559.079515884,4467154.504613671],
            [-8968476.670844771,4467165.253570773],
            [-8968407.399787892,4467000.436228547],
            [-8968292.744245475,4467030.294442719],
            [-8968181.671688758,4467198.694770645],
            [-8967898.615818413,4467535.495426498],
            [-8967597.645019565,4467263.188513256],
            [-8969143.106185075,4466485.680616233],
            [-8968569.828472985,4467659.705597452],
            [-8968437.258002063,4467825.717268244],
            [-8969888.367210792,4467681.203511654],
            [-8967838.89939007,4467193.917456377]
        ];
        const polygon = new Polygon({
          hasZ: true,
          hasM: true,
          rings: vrings,
          spatialReference: { wkid: 102100 }
        });


        //const polygon = createGeometry(vertices);
        validSymbol = createSymbol([0, 170, 255, 0.4], "solid", 2, [255,
          255, 255
        ]);
        newDevelopmentGraphic = new Graphic({
          geometry: polygon,
          symbol: validSymbol,
          attributes: {
            newDevelopment: "new store"
          }
        });

        graphicsLayer.addMany([newDevelopmentGraphic]);
      }

      function createGeometry(vertices) {
        return new Polygon({
          rings: vertices,
          spatialReference: view.spatialReference
        });
      }

      function createSymbol(color, style, width, outlineColor) {
        return {
          type: "simple-fill",
          style: style,
          color: color,
          outline: {
            color: outlineColor,
            width: width
          }
        }
      }

      // Create new view, map and layers... set up the view
      function setUpView() {

        bufferLayer = new FeatureLayer({
          portalItem: {
            id: "a1fc918a654648eb833826d1c198922e"
          }
        });

        graphicsLayer = new GraphicsLayer();

        const map = new Map({
          basemap: "satellite",
          layers: [  graphicsLayer]
        });

        view = new MapView({
          container: "viewDiv",
          map: map,
          zoom: scale,
          center: [gcx,gcy]//,35.4
        });



      }
    });
  </script>
</head>

<body>
  <div id="viewDiv"></div>
  <div id="instructions">
    <b>Instructions</b>
  </div>
</body>

</html>
