<html>
  <head>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.4/d3.min.js"></script>
    <script type="text/javascript" src="http://zbryikt.github.io/voronoijs/dist/voronoi.min.js"></script>
  </head>
  <body>
    <svg width="900" height="400" viewBox="0 0 900 400"></svg>
  </body>
<script type="text/javascript">
var data = {
  children: [
    {children: [ {value: 100}, {value: 200}, {value: 300} ]},
    {children: [ {value: 100}, {value: 500}, {value: 900} ]},
    {children: [ {value: 100}, {value: 500}, {value: 900} ]}
  ]
};
var clip = Voronoi.Polygon.create(800, 400, 60);
var treemap = new Voronoi.Treemap(data, clip, 800, 400);
var color = d3.scale.category20();
function render() {
  d3.select("svg").selectAll("path").data(treemap.getPolygons()).enter().append("path")  // 資料綁定
  d3.selectAll("path").attr({
    d: function(d,i) {
      return d.map(function(it){ return "L" + it.x + " " + it.y; })
        .join(" ").replace(/^L/, "M");
    },
    fill: function(d,i) {
      return color(i);
    },
    stroke: "#fff",
    "stroke-width": 2
  });
}
setInterval(function() {
  treemap.compute();
  render();
}, 100);
</script>
</html>
