<!DOCTYPE html>
{% load static %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>WebGL VACSE</title>
  <link rel="stylesheet" type="text/css" href="{% static "mapstyle.css" %}"  />
</head>
<body>

  <h1>Lattice in D3</h1>
  <h4>Click to drag nodes. </h4>

  <p>
    Area points: <input type="text" id="areapoints" value=4><br>
    Segment points: <input type="text" id="segmentpoints" value=2 ><br>
    <button onclick="DrawRigs()">Reload</button></p>

  <div class="bg" >
      <canvas width="960" height="960"></canvas>

  </div>
  <div >
      <p id = "bgimg"></p>

  </div>

  <h4>Some other examples</h4>
  <p>
  <a href="http://172.29.85.39:9000/app2/dragpoints" target="blank">Restriced points move</a></p>
  <p><a href="http://172.29.85.39:9000/app2/blocks" target="blank">D3 Force Documentation</a></p>
  <p><a href="http://172.29.85.39:9000/app2/graphs" target="blank">Force</a></p>
  <p><a href="http://172.29.85.39:9000/app2/voronoi" target="blank">Voronoi</a></p>
  <p><a href="http://172.29.85.39:9000/App1/" target="blank">VACSE 3D</a></p>


</body>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{% static "js/DrawRigs.js" %}"></script>
<script>
function ShowNumber(){
  var canvas = document.querySelector("canvas"),
      context = canvas.getContext("2d"),
      width = canvas.width,
      height = canvas.height;

  var img = document.getElementById("testmap");
  context.drawImage(img, 10, 10);
}

DrawRigs()



</script>
