<!DOCTYPE html>
{% load static %}
<html>
<style>
.slidecontainer {
    width: 100%;
    height: 175px;
}

.slider {
    -webkit-appearance: slider-vertical;
    width: 25px;
    height: 125px;
    margin:30px;
}

</style>
<body>
<div>
<p>A: <input type="text" id="Duress1" value=10><br></p>
<p>B: <input type="text" id="Duress2" value=9><br></p>
<p>C: <input type="text" id="Duress3" value=8><br></p>
<p>D: <input type="text" id="Duress4" value=7><br></p>
</div>
<div>
  <div class="slidecontainer">
       <input type="range" min="1" max="100" value="1" class="slider" id="myRange1">
       <input type="range" min="1" max="100" value="1" class="slider" id="myRange2">
       <input type="range" min="1" max="100" value="1" class="slider" id="myRange3">
       <input type="range" min="1" max="100" value="1" class="slider" id="myRange4">
  </div>





</div>
<button onclick="myFunction()">Reset</button>
<button onclick="DuressTesting()">DuressTesting</button>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script>
var rangeInput = document.getElementById("myRange1");

document.getElementById("myRange2").addEventListener("input", function() {
  document.getElementById("Duress2").value = this.value;
},false);
document.getElementById("myRange3").addEventListener("input", function() {
  document.getElementById("Duress3").value = this.value;
},false);
document.getElementById("myRange4").addEventListener("input", function() {
  document.getElementById("Duress4").value = this.value;
},false);

rangeInput.addEventListener("input", function() {
    document.getElementById("Duress1").value = rangeInput.value;
    var URL = "{% url 'DuressTestingAdd' %}";
    var data = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            'Duress1': $('#Duress1').val(),
            'Duress2': $('#Duress2').val(),
            'Duress3': $('#Duress3').val(),
            'Duress4': $('#Duress4').val()
           };
    $.post(URL, data, function(response){
      var res=JSON.parse(response);

        if(res.flag == 'success'){
          /*
          document.getElementById("Duress2").value=res.DuressJ2;
          document.getElementById("Duress3").value=res.DuressJ3;
          document.getElementById("Duress4").value=res.DuressJ4;
*/
          document.getElementById("myRange2").value=res.DuressJ2;
          document.getElementById("myRange3").value=res.DuressJ3;
          document.getElementById("myRange4").value=res.DuressJ4;

         }
        else{ alert(response); }
    });


}, false);

function myFunction() {


    document.getElementById("Duress1").value = "{{DuressJ1}}";
    document.getElementById("Duress2").value = "{{DuressJ2}}";
    document.getElementById("Duress3").value = "{{DuressJ3}}";
    document.getElementById("Duress4").value = "{{DuressJ4}}";

}


function DuressTesting(){

  var URL = "{% url 'DuressTesting' %}";
  var data = {
          csrfmiddlewaretoken: '{{ csrf_token }}',
         'Duress1': $('#Duress1').val(),
         'Duress2': $('#Duress2').val(),
         'Duress3': $('#Duress3').val(),
         'Duress4': $('#Duress4').val()
         };

    $.post(URL, data, function(response){
      var res=JSON.parse(response);

        if(res.flag == 'success'){
          document.getElementById("Duress1").value=res.DuressJ1;
          document.getElementById("Duress2").value=res.DuressJ2;
          document.getElementById("Duress3").value=res.DuressJ3;
          document.getElementById("Duress4").value=res.DuressJ4;
         }
        else{ alert(response); }
    });
  }

</script>

</body>
</html>
