body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  background-color: #fff;
  overflow: hidden;
  color: #323232;
  /*font-family: "Avenir Next W01", "Avenir Next W00", "Avenir Next", "Avenir", "Helvetica Neue", "Helvetica", "Arial", sans-serif;*/
}

/*Loading icon */

#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loader.hide {
  display: none;
}

#loading-image {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  z-index: 100;
}

.hide {
  display: none;
}

.hide-condition {
  display: none !important;
}

.conditional-hide {
  display: none;
}

.clear {
  clear: both;
}

.color-validation {
  color: #E10707;
  padding: 0 0 0.4em 0.4em;
  font-size: 12px;
}

.color-validation .esri-icon-error {
  color: #E10707;
}

/*App Layout*/

#template-config-form {
  padding-top: .5em;
  height: 100%;
}

.config-title {
  font-weight: normal;
  color: #323232;
  font-size: 24px;
  line-height: 28px;
  display: inline-block;
  padding: .5em;
}

.calcite .dijitContentPane {
  padding: 0 0 15px 0;
}

.esriFormBuilder {
  height: 100%;
}

.esriFormBuilder iframe {
  width: 100%;
  height: 90%;
  margin: 0;
  border: none;
  overflow: hidden;
}

.esriFormBuilder.notabs {
  overflow-y: auto;
}

/*Content styles (links, headers etc)*/

.itemDetail {
  width: 100%;
  max-height: 136px;
  float: left;
  clear: both;
  margin-bottom: .5em;
}

.esriRtl .itemDetail {
  float: right;
}

.esriRtl .itemThumbnailContainer {
  float: right;
  margin-right: auto;
  margin-left: 1em;
}

.itemThumbnailContainer {
  position: relative;
  float: left;
  margin-right: 1em;
}

.small .itemThumbnailContainer img {
  width: 64px;
  height: 43px;
}

.small .itemTextContainer {
  margin-left: 70px;
}

.item-hide .itemThumbnailContainer {
  display: none;
}

.item-hide .edit-btn {
  display: none;
}

.edit-span.hide {
  display: none;
}

.edit-span {
  display: block;
  width: 98%;
  min-height: 32px;
  border: solid 1px #ddd;
  padding: 5px 10px;
  color: #6e6e6e;
  font-size: 12px;
  margin-bottom: 5px;
  background: #fff;
}

.img-thumbnail {
  border: 1px solid #ddd;
  border-radius: 2px;
  background-color: #fff;
  height: 135px;
  width: 200px;
  padding: 4px;
}

.itemTextContainer {
  margin-left: 212px;
  font-size: .9em;
  max-height: 136px;
  overflow: auto;
}

.item-hide .itemTextContainer {
  margin-left: 0;
}

.itemTextContainer>span {
  display: block;
  margin-bottom: 0.5em;
  line-height: 18px;
}

.item-message {
  max-width: 50%;
  display: inline-block;
  vertical-align: top;
}

.add-shading {
  background-color: #ccc;
  background-color: rgba(187, 187, 187, 0.08);
  padding: 6px;
}

.conditional.conditional-hide {
  display: none !important;
}

.conditional-inset {
  margin-left: 1em !important;
}

.esriFormBuilder label.conditional-inset {
  padding-left: 0;
  margin-left: 0;
}

.esriFormBuilder label.conditional.conditional-hide {
  display: none;
}

.esriFormBuilder label.subcategory,
.esriFormBuilder legend {
  display: block;
  width: 100%;
  font-size: 12px;
  font-family: AvenirNext-Medium;
  line-height: 19px;
  padding: 15px 0 5px 5px;
  border-bottom: solid 1px #ddd;
  margin-bottom: 10px;
}

#itemContainer span {
  font-size: 12px;
}

.header-legend {
  font-weight: bold;
}

.esriFormBuilder p {
  display: block;
  margin: 10px 0 10px 0;
  color: #737377 !important;
  font-size: 12px;
  line-height: 1.2em;
}

.esriFormBuilder p {
  font-family: AvenirNext-Regular;
}

#config-options.esriFormBuilder a {
  color: #007ac2;
}

/*App Proxy Widget*/

#proxyContainer {
  display: none;
}

.field-proxied {
  width: 40px;
}

.esriAppProxySettings {
  width: 98%;
  height: auto;
  overflow-y: auto;
  border: none;
  margin-top: 4px;
  margin-bottom: 4px;
}

.esriFormBuilder label.appproxies {
  display: none;
}

.esriAppProxySettings .dojoxGridCell,
.esriAppProxySettings .dojoxGrid .dojoxGridCell,
.esriAppProxySettings .dgrid .dgrid-cell {
  border-right: none;
}

.esriAppProxySettings .dgrid-row {
  width: 100%;
}

.esriAppProxySettings.dgrid-header {
  background: #5daddd;
  color: #fff;
}

/*Custom widget styles (Color Picker, Search, Browse dialog etc)*/

.dojoxColorPicker label {
  padding: 4px 0 !important;
  margin: 0 !important;
  width: auto !important;
}

.esriColorPicker.esriContainer {
  border: none;
  display: block;
}

.esriColorPicker.esriCollapsible {
  max-width: 100px;
}

.esriColorPicker.esriCollapsible .esriSwatchPreview.esriContainer {
  height: 25px;
  width: 25px;
}

.esriFormBuilder label.color {
  margin-top: 0;
  margin-bottom: 0;
}

.esriHexInput {
  width: 100px;
}

.esriColorPicker.esriCollapsible .esriColorControls {
  border: solid 1px #ddd;
}

.esriColorPicker.esriCollapsible .esriHeader {
  border: solid 1px #ddd;
  padding: 5px;
}

.esriColorPicker .esriCollapseIcon {
  color: #333;
}

.esriColorPicker.esriCollapsible .esriColorControls {
  margin-top: 0.5em;
  width: 245px;
}

.esriColorPicker .esriPaletteOptions .esriPaletteToggle {
  display: none;
}

.esriFormBuilder .searchConfig {
  width: 100%;
  margin: .4em .4em .4em .8em;
}

.searchConfig .dojoDndItemOver {
  background-color: #f0f0f0;
  background-image: none;
}

.searchConfig .dijitButtonNode {
  background-image: none;
  color: #808080;
  background-color: #ededed;
}

.searchConfig .dijitButtonNode:hover {
  background-image: none;
  background-color: #808080;
  color: #fff;
}

.esriFormBuilder .searchConfig .dijitButtonText {
  padding: .4em;
}

.esriFormBuilder .searchConfig label {
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  padding-left: 4px;
}

.esriFormBuilder .searchConfig .dijitButtonNode {
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 2px;
  border: solid 1px #ddd;
}

.esriFormBuilder .searchConfig th {
  font-weight: 600;
  font-size: 12px;
  padding-right: 5px;
}

.esriFormBuilder .searchConfig table {
  border-spacing: 4px;
}

#search-form {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
}

.esriSearchBox {
  border-radius: 4px;
}

#search-form .esriSearchBox.dijitTextBox {
  padding: 4px;
  background: 0 0;
  background-image: none !important;
  filter: none;
  opacity: 1;
  background-color: #fff !important;
  border-radius: 0;
  border-color: #ddd !important;
}

.esri .dijitSelect.esriSearchSelect {
  padding: 5px !important;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 21px;
  border-color: #ddd !important;
}

.esri .dijitSelect .dijitButtonNode.dijitDownArrowButton {
  border-left: 1px solid #ddd;
  border-right: none !important;
}

.esriSearchButton.dijitDialogCloseIcon {
  cursor: pointer;
  margin: 3px 10px 0 0 !important;
}

#search-form .dijitInputContainer {
  padding-top: 3px;
}

.esriSearchButton {
  background-color: transparent;
  background-clip: border-box;
  border: none;
  height: 16px;
  line-height: normal;
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 6px;
  width: 16px;
  margin-right: 6px;
  display: inline-block;
  padding: 0 9px 5px 5px;
}

/*Form Builder Widgets*/

.multilayerandfieldselector {
  padding: 1em 1em 1em 0 !important;
}

.esriFormBuilder .dijitMultiSelect {
  display: block;
  width: 200px;
  padding: 6px 4px;
  font-size: 12px;
  line-height: 24px;
  color: #323232;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.esriFormBuilder .panel {
  width: 100%;
  line-height: normal;
  height: auto;
  margin-bottom: 1em;
}

.hide-height {
  height: 20px;
}

.calcite .dijitSplitterV .dijitSplitterThumb {
  width: 10px;
}

.calcite .dijitSplitterV .dijitSplitterThumb {
  height: 25px;
}

.esriFormBuilderButtons {
  float: left;
  margin-left: 1em;
  font-family: "Avenir Next W01", "Avenir Next W00", "Avenir Next", "Avenir", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.esriFormBuilderButtons .config-button.calcite.btn.blue {
  background-color: #0079c1;
  background: #0079c1;
  color: #fff;
  border-radius: 0;
  border: solid 1px #0079c1;
}

.esriFormBuilderButtons .esri-icon-save,
.esriFormBuilderButtons .dijitButtonText {
  color: #fff;
}

.esriFormBuilderButtons .config-button.calcite.btn.blue:hover {
  background-color: #005e95;
  background: #005e95;
  color: #fff;
}

.config-button.calcite.transparent {
  color: #0079c1;
}

.config-button.calcite.transparent.clear {
  color: #0079c1;
  border: solid 1px #007ac2;
  border-radius: 0 !important;
}

.btn[class*="esri-icon-"]:before {
  font-family: 'CalciteWebCoreIcons';
}

.esriRtl .btn[class*="icon-"]:before {
  padding: 4px;
}

[class^="esri-icon-"],
[class*=" esri-icon-"] {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0079C1;
}

.btn-text {
  font-family: "Avenir Next W01", "Avenir Next W00", "Avenir Next", "Avenir", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.config-button {
  text-align: center;
}

.esriFormBuilder fieldset {
  border: none;
  height: 98% !important;
  min-height: 600px;
  overflow-y: auto;
  width: auto;
  margin: auto;
  padding-top: 1em;
}

.esriFormBuilder label {
  display: inline-block;
  max-width: 90%;
  margin-top: 0.5em;
  font-size: 12px;
  line-height: 14px;
  color: #323232;
  padding-right: 1em;
  padding-left: 4px;
}

label.group,
label.webmap {
  display: none;
}

.esriFormBuilder .dijitCheckBox INPUT {
  cursor: default;
}

.esriFormBuilder .esriCheckBoxLabel {
  display: inline-block;
  line-height: 14px;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 400;
}

.esriFormBuilder .dijitSelect {
  width: auto;
  font-size: 12px;
  padding: 0 4px 0 4px !important;
  margin: 0.5em 0;
  display: table;
}

/*Add a little extra padding for the dropdown arrow */

.esriFormBuilder .dijitSelect .dijitButtonNode.dijitDownArrowButton {
  padding-left: 5px;
}

.esriFormBuilder .dijitTextBox {
  display: block;
  max-width: 90%;
  min-width: 60%;
  line-height: normal;
  padding: 6px 4px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  margin: 0.5em 0 0.5em 0;
}

.esriFormBuilder .dijitNumberTextBox {
  min-width: 30px;
}

.esriFormBuilder .dijitButtonText .dijitSelectLabel {
  padding: .5em;
}

.esriFormBuilder .dijitTextBox .dijitPlaceHolder {
  color: #6e6e6e;
}

.calcite .dijitTextBox .dijitInputField {
  padding: 0;
}

.esriFormBuilder .calcite .dijitTextBox .dijitInputInner {
  line-height: normal;
  /* height: 14px;*/
}

.esriFormBuilder .dijitTextBox:focus,
.esriFormBuilder .dijitTextBox:active {
  border-color: #ddd;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.esriFormBuilder .dijitTextBoxError INPUT.dijitValidationInner {
  margin-right: .3em;
  margin-top: .4em;
  padding: .1em;
}

.esriFormBuilder .dijitPlaceHolder {
  left: .2em;
  top: .2em;
}

.esriFormBuilder .dijitSelect .dijitButtonContents {
  margin: .1em;
  padding: 0;
  width: auto;
}

.dijitButtonContents {
  display: inline-block;
}

.esriFormBuilder .dijitButtonNode {
  border: none !important;
  background: none;
}

.esriFormBuilder .dijitButtonNode .dijitButtonHover,
.esriFormBuilder .dijitButton .dijitButtonHover {
  background: none;
}

.soria .dijitButtonHover .dijitButtonNode,
.soria .dijitButtonActive .dijitButtonNode {
  background-image: none !important;
  background: none;
}

.esri .calcite .dijitButtonText {
  text-shadow: none;
  font-size: .9em !important;
}

/*Dojo Text editor */

.esriFormBuilder textarea.dijitTextBox {
  height: 100px;
  max-height: 100px;
  min-height: 100px;
  width: auto;
  resize: none;
}

.esri .dijitEditor div.dijitEditorIFrameContainer {
  margin: 0;
  border: none;
}

.edit-btn {
  color: #6e6e6e;
  text-decoration: none;
  background-color: transparent;
  padding: 0;
  border: none;
  white-space: normal;
  text-align: left;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 5px;
  margin-top: 5px;
}

body,
#dijitEditorBody {
  height: 240px;
  overflow: scroll;
  color: #323232;
  font-size: 1rem;
}

.dijitFontSizeWrap label {
  display: none;
}

.dijitEditor span.dijitReset.dijitInline.dijitArrowButtonInner {
  background-image: none !important;
  font-size: 10px;
  line-height: 5px;
  margin-left: 2px;
  margin-right: 4px;
}

.esri .dijitEditor .dijit.dijitToolbar {
  background-color: #fff !important;
  border-bottom: 1px solid #ddd;
  padding: 6px 3px;
}

.dijitEditor .dijitToolbar .dijitDropDownButton,
.dijitEditor .dijitToolbar .dijitToggleButton,
.dijitEditor .dijitToolbar .dijitButton {
  border-radius: 3px;
  margin: 3px 2px 3px 0;
  height: 32px;
  background-color: #fff;
  cursor: pointer;
}

.esri .dijitEditor .dijitToolbar .dijitButton,
.esri .dijitEditor .dijitToolbar .dijitButtonNode,
.esri .dijitEditor .dijit.dijitToolbar .dijitButtonNode,
.esri .dijitEditor .dijit.dijitToolbar .dijitSelect .dijitArrowButton {
  border: none;
}

.calcite .dijitButtonNode .dijitIcon {
  margin-right: 0;
}

.dijitInline {
  display: inline-block;
}

.dijitEditor .dijitToolbar .dijitDropDownButton,
.dijitEditor .dijitToolbar .dijitToggleButton,
.dijitEditor .dijitToolbar .dijitButton {
  border-radius: 3px;
  cursor: pointer;
}

.dijitEditor .dijitToolbar .dijitDropDownButton:hover,
.dijitEditor .dijitToolbar .dijitDropDownButtonOpened,
.dijitEditor .dijitToolbar .dijitToggleButtonChecked,
.dijitEditor .dijitToolbar .dijitToggleButton:hover,
.dijitEditor .dijitToolbar .dijitButton:hover {
  background-color: #efefef;
}

.calcite .dijitEditorIFrame {
  padding: 8px;
}

.calcite .dijitEditorFocused .dijitEditorIFrameContainer {
  border-color: #ddd !important;
}

.dijitEditor {
  border: 1px solid #ddd;
  margin-top: 0.31rem;
}

.calcite .dijitToolbar {
  border: none;
}

.calcite .dijitToolbar .dijitButton .dijitButtonContents,
.calcite .dijitToolbar .dijitToggleButton .dijitButtonContents {
  padding: 0;
}

.dijitEditor .dijitToolbar {
  opacity: .5;
  padding: 6px 3px;
  -webkit-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -ms-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}

.dijitEditorFocused .dijitToolbar {
  opacity: 1;
}

.dijitEditor .dijitToolbar:after {
  content: '';
  display: table;
  clear: both;
}

.dijitEditor .dijitToolbar label {
  margin: .25rem;
}

.calcite .dijitToolbarSeparator {
  float: left;
  display: inline-block;
  height: 24px;
  border-right: 1px solid #ddd;
  margin: 7px 5px 7px 5px;
  pointer-events: none;
}

.dijitEditorIFrameContainer {
  padding: .31rem .31rem 0 .31rem;
  line-height: 1.55;
}

.dijitEditor textarea {
  border: none;
  color: #323232;
  font-size: 1.4rem;
  line-height: 1.4rem;
  box-shadow: none;
}

.dijitEditor .dijitToolbar .dijitInline {
  float: left;
}

.esriRtl .dijitEditor .dijitToolbar .dijitInline {
  float: right;
}

.dijitEditor .dijitToolbar .dijitDropDownButton,
.dijitEditor .dijitToolbar .dijitToggleButton,
.dijitEditor .dijitToolbar .dijitButton {
  border-radius: 3px;
  margin: 3px 2px 3px 0;
  height: 32px;
  background-color: #fff;
  cursor: pointer;
}

.dijitDisabled .dijitEditorIcon {
  background-image: url("../img/editorSprite.png");
}

.dijitEditor .dijitToolbar .dijitDropDownButton:hover,
.dijitEditor .dijitToolbar .dijitDropDownButtonOpened,
.dijitEditor .dijitToolbar .dijitToggleButtonChecked,
.dijitEditor .dijitToolbar .dijitToggleButton:hover,
.dijitEditor .dijitToolbar .dijitButton:hover {
  background-color: #efefef;
}

.dijitDisabled {
  opacity: 0.35;
  cursor: default;
  pointer-events: none;
  background-color: transparent !important;
}

.dijitDisabled .dijitButtonNode {
  cursor: default;
  pointer-events: none;
}

.dijitEditorIcon {
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url("../img/editorSprite.png");
  background-repeat: no-repeat;
  display: inline-block;
}

.dijitEditorRtl .dijitEditorIcon {
  background-image: url("../img/editorSpriteRtl.png");
}

.dijitPaletteTable {
  border-collapse: initial;
  margin-bottom: 0;
}

.dijitColorPalettePopup tr {
  border: none;
}

.dijitPaletteCell:focus {
  outline: none;
}

.dijitPaletteCell {
  padding: 0;
  line-height: 0;
  cursor: pointer;
  border: none;
  border: 1px solid transparent;
}

.dijitColorPalettePopup .dijitPaletteCellSelected {
  border: 1px solid #ddd;
}

.dijitColorPaletteSwatch {
  width: 20px;
  height: 20px;
}

.dijitEditorIconBold {
  background-position: 0 0;
}

.dijitEditorIconItalic {
  background-position: -32px 0;
}

.dijitEditorIconUnderline {
  background-position: -64px 0;
}

.dijitEditorIconForeColor {
  background-position: -96px 0;
}

.dijitEditorIconHiliteColor {
  background-position: -128px 0;
}

.dijitEditorIconJustifyLeft {
  background-position: -160px 0;
}

.dijitEditorIconJustifyCenter {
  background-position: -192px 0;
}

.dijitEditorIconJustifyRight {
  background-position: -224px 0;
}

.dijitEditorIconJustifyFull {
  background-position: -256px 0;
}

.dijitEditorIconInsertOrderedList {
  background-position: -288px 0;
}

.dijitEditorIconInsertUnorderedList {
  background-position: -320px 0;
}

.dijitEditorIconIndent {
  background-position: -352px 0;
}

.dijitEditorIconOutdent {
  background-position: -384px 0;
}

.dijitEditorIconCreateLink {
  background-position: -416px 0;
}

.dijitEditorIconLink {
  background-position: -448px 0;
}

.dijitEditorIconUnlink {
  background-position: -480px 0;
}

.dijitEditorIconInsertImage {
  background-position: -512px 0;
}

.dijitEditorIconRemoveFormat {
  background-position: -544px 0;
}

.dijitEditorIconUndo {
  background-position: -576px 0;
}

.dijitEditorIconRedo {
  background-position: -608px 0;
}

.dijitEditorIconViewSource {
  background-position: -640px 0;
}

.dijitFontSizeCombo {
  max-width: 103px;
  margin-top: 0 !important;
}

.dijitFontSizeWrap label {
  display: none;
}

.dijitFontNameCombo {
  max-width: 100px;
  margin-top: 0 !important;
}

@media screen and (-ms-high-contrast: active) {
  .dijitEditor .dijitToolbar .dijitToggleButton .dijitButtonText,
  .dijitEditor .dijitToolbar .dijitDropDownButton .dijitButtonText,
  .dijitEditor .dijitToolbar .dijitButton .dijitButtonText {
    display: inline-block !important;
  }
}

/*Embed Dialog*/

#embed-map-dialog>div.dijitDialogTitleBar.dijitAlignTop>span.dijitDialogCloseIcon {
  display: none;
}

@media screen and (max-width: 1172px) {
  .esri #search-form .esriSearchBox.dijitTextBox {
    border-color: #ddd !important;
    padding: 5px;
    box-sizing: border-box;
  }
}

/* Custom Tab Styles */

#tab-container_tablist_menuBtn>span.dijitInline.dijitTabStripIcon.dijitTabStripMenuIcon {
  display: none;
}

.calcite .dijitTabStripIcon {
  font-weight: bold;
  line-height: 26px;
  font-size: 20px;
  color: #323232;
}

.calcite .dijitTabContainer {
  border-radius: 0 !important;
}

.esriRtl .dijitTabPaneWrapper.dijitTabContainerTop-container {
  left: 0;
}

.calcite .dijitTabPaneWrapper {
  background: #fff;
  margin: 0;
  padding: 0;
  border-radius: 0 !important;
  border: none;
  position: absolute;
  top: 45px;
  width: 98%;
}

.dijitTabListContainer-top {
  position: fixed;
  background: #fff;
  top: 0;
}

.calcite .dijitTabSpacer {
  display: none;
}

.calcite .dijitTab {
  background: #005e94;
  color: #fff;
  text-align: left;
  border-radius: 0 !important;
  position: relative;
  z-index: 0;
  margin: 0.25em 0.25em 0 0;
}

.calcite .dijitTab:before {
  content: "";
  display: block;
  position: absolute;
}

/* tabs: hover */

.calcite .dijitTab:hover,
.calcite .dijitTab:focus {
  background: inherit;
  color: #323232;
  background: -webkit-linear-gradient(#005e94, #005e94, #FFF 8%);
  background: -moz-linear-gradient(#005e94, #005e94, #FFF 8%);
  background: -ms-linear-gradient(#005e94, #005e94, #FFF 8%);
  background: -o-linear-gradient(#005e94, #005e94, #FFF 8%);
  background: linear-gradient(#005e94, #005e94, #FFF 8%);
}

/* tabs: checked */

.calcite .dijitTabChecked {
  z-index: 1;
  background-color: #fff;
  color: #323232;
}

.dijitTab .tabLabel {
  white-space: normal;
  text-overflow: ellipsis;
  max-width: 250px;
  overflow: hidden;
  font-size: 14px;
  font-weight: normal;
}

.calcite .dijitTab .tabLabel:focus {
  outline: none;
}

/* tabs: strip button */

.tabStripButton {
  background-color: #fff;
  margin: 0 0.2em;
}

#tab-container_tablist_menuBtn {
  border: none !important;
}

.calcite .dijitTabListContainer-top .tabStripButton {
  border: 1px solid #ccc !important;
  margin: 0 0.2em;
  color: #323232;
  background: #fff;
}

.calcite .dijitTabCloseButtonHover {
  opacity: 0.75;
}

.calcite .dijitTabCloseButtonActive {
  opacity: 1;
}

/* tabs: disabled */

.calcite .dijitTabDisabled {
  opacity: 0.65;
}

/************* end common **************/

/*************** left tabs ***************/

.calcite .dijitTabContainerTop-dijitContentPane,
.calcite .dijitTabContainerLeft-dijitContentPane,
.calcite .dijitTabContainerBottom-dijitContentPane,
.calcite .dijitTabContainerRight-dijitContentPane,
.calcite .dijitAccordionContainer-dijitContentPane {
  padding: 0 5px 5px 5px;
  width: 100%;
}

.calcite .dijitTabContainerLeft-tabs {
  padding-top: 0;
}

.calcite .dijitTabContainerLeft-tabs .dijitTab,
.calcite .dijitTabContainerRight-tabs .dijitTab {
  margin: 0 !important;
}

.calcite .dijitTabPaneWrapper.dijitTabContainerLeft-container {
  border-radius: 0;
}

.calcite .dijitTabContainerLeft-tabs {
  font-size: 14px;
  border: none;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.calcite .dijitTabContainerLeft-tabs .dijitTab:last-of-type {
  display: none;
}

.calcite .dijitTabContainerLeft-tabs .dijitTab {
  color: #323232;
  border: none;
  padding: 10px 12px;
  vertical-align: middle;
  border-radius: 0;
}

.radioLabel {
  vertical-align: middle;
}

label.radioLabel span {
  text-align: center;
  display: block;
  padding-top: 3px;
}

label.radioLabel img {
  width: 70px;
  height: 40px;
}

/************** end left tabs *************/

.esriRtl .esri .calcite .esriContentsIcon,
.esri .calcite .esriAddContentIcon,
.esri .calcite .esriBasemapIcon,
.esri .dijitButton.calcite .dijitButtonContents .dijitIcon,
.esri .dijitDropDownButton.calcite .dijitButtonContents .dijitIcon,
.esri .calcite .dijitButtonContents .esriWebMapIcon,
.esri .calcite .dijitButtonContents .esriNewFolderIcon {
  margin: 0 7px 0 5px !important;
}

/*RTL*/

.esriRtl .esriBrowseItemsCtr .template-overlay {
  top: 11px;
  left: 14px;
}

.esriRtl .esriBrowseItemsCtr .searchBar .esriSearchBox {
  padding-right: 2.4em;
}

.esriBrowseItemsCtr .searchBar .esriSearchBox {
  padding-left: 2em !important;
  padding: 0 0.31rem;
  line-height: 3rem;
  height: 3rem;
  font-size: 1em;
  width: 220px;
}

/*Browse Item Dialog : Thumbnail Gallery */

/*Browse Gallery */

.calcite.btn.blue.browse-dialog {
  height: 36px;
  text-transform: none;
  font-size: 12px;
}

.calcite.btn {
  text-transform: none;
  text-shadow: none;
  color: #fff;
  font-size: 14px;
  border-radius: 0;
  margin: 0.2em 0;
}

.esriFormBuilderButtons .config-button.calcite.btn:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .3;
}

.esriFormBuilderButtons .config-button.calcite.transparent.clear:hover {
  color: #fff;
  background: #005e95;
  border-color: #005e95;
}

/*Dialog action bar button styles*/

.ok.calcite.blue.hide .dijitButtonNode {
  display: none;
}

.ok .dijitButtonNode {
  color: #fff;
}

.cancel .dijitButtonNode {
  color: #0079c1;
}

.esriBrowseItemsCtr .dgrid-grid.dgrid .dgrid-row.dgrid-selected .gallery-view img {
  border: solid 2px #d2e9f9;
  background: #d2e9f9;
}

.esriBrowseItemsCtr .dgrid-grid.dgrid .dgrid-row .gallery-view {
  width: auto;
}

.btn.secondary.disabled,
.btn.blue.disabled,
.esri .dijitButton.calcite.dijitDisabled.secondary,
.esri .dijitButton.calcite.dijitDisabled.blue,
.esri .dijitButton.calcite.secondary.disabled,
.esri .dijitButton.calcite.blue.disabled,
.esri .dijitDropDownButton.calcite.dijitDisabled.secondary,
.esri .dijitDropDownButton.calcite.dijitDisabled.blue,
.esri .dijitDropDownButton.calcite.secondary.disabled,
.esri .dijitDropDownButton.calcite.blue.disabled,
.esri .dijitDialog .dijitButton.primary.disabled,
.esri .dijitDialog .dijitButton.dijitButtonDisabled.primary,
.esri .dijitToggleButton.calcite.secondary.disabled,
.esri .dijitToggleButton.calcite.blue.disabled .esri .dijitToggleButton.calcite.secondary.dijitDisabled,
.esri .dijitToggleButton.calcite.blue.dijitDisabled,
.esri .simpleDirections .esriStopsGetDirections.calcite.blue.disabled {
  border-radius: 0;
}

.btn.calcite-bootstrap {
  text-transform: initial;
  font-weight: 500;
}

.btn.calcite-bootstrap.plain {
  color: #808080;
  background-color: #ededed;
}

.config-button.calcite.dark-blue {
  background-color: #d2e9f9;
  background: #d2e9f9;
}

.esriBrowseItemsCtr .gallery .gallery {
  width: 75%;
  min-height: 400px;
  margin: 0 auto;
  height: 100%;
  clear: both;
}

.esriBrowseItemsCtr .template-overlay {
  width: 177px;
  height: 115px;
}

.esriBrowseItemsCtr .dgrid .gallery-view h5 {
  height: 1em;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 175px;
  text-align: center;
  margin: 1em 0;
}

/**/

.esriBrowseItemsCtr.filters .instructions span.messageRight {
  max-width: 60%;
}

/*Browse Item Dialog: Filter Menu*/

.esriBrowseItemsCtr .gallery-left li.active>a,
.esriBrowseItemsCtr .gallery-left li.active>a:focus,
.esriBrowseItemsCtr .gallery-left li a {
  width: 100%;
}

.esriBrowseItemsCtr .gallery-left ul {
  border-right: none;
}

/*Browse Item Dialog : Info Template */

.esriBrowseItemsCtr .gallery .templateInfoPanel {
  width: 250px;
  height: 100%;
}

.esriBrowseItemsCtr .template-info-showing {
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.esriBrowseItemsCtr .template-info-showing .thumbnail,
.esriBrowseItemsCtr .template-info-showing .thumbnail>img {
  width: auto;
  height: 125px;
  margin-right: auto;
  margin-left: auto;
}

/*Filter List*/

.esriBrowseItemsCtr .gallery-left ul {
  list-style: none;
  padding: 0 0;
  margin: 15px 0;
  width: auto;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.esriBrowseItemsCtr .gallery-left li.active>a,
.esriBrowseItems .gallery-left li.active>a:focus {
  color: #6e6e6e;
  cursor: default;
  background-color: #d2e9f9;
}

.esriBrowseItemsCtr .gallery-left li a {
  padding: .5rem .7rem;
  font-size: 15px;
  margin-right: 0;
  display: block;
  line-height: 1.42857143;
  border-top: 1px solid #efefef;
  color: #6e6e6e;
  position: relative;
}

.esriBrowseItemsCtr .btn.blue.btn-main {
  border-radius: 0;
  background-color: #0079c1;
}

.esriBrowseItemsCtr .btn.btn-cancel {
  color: #0079c1;
}

.calcite .dijitDialogPaneContent {
  padding: 5px;
}

.calcite .dijitDialogTitleBar {
  border-bottom: none;
}

.dijitDialog .dijitDialogPaneContent {
  padding: 0;
}

.calcite .dijitDialogCloseIcon {
  font-size: 20px;
  color: #323232;
  display: none;
}

.esri .dijitButton.calcite.dijitDisabled.blue {
  background-color: #999 !important;
}

.error-list {
  list-style-type: none;
  padding-left: 5px;
  font-size: 12px;
  color: red;
}

.error-list .esri-icon-error {
  color: red;
  top: 1px;
  position: relative;
}

/*# sourceMappingURL=configure.css.map */