.searchConfig .searchConfigForm {
  margin: 0 0 20px 0;
  width: 300px;
}

.searchConfig .searchConfigGroup,
.searchConfig .searchConfigForm .searchConfigGroup {
  margin: 10px 0;
}

.searchConfig .searchConfigForm label,
.searchConfig .searchConfigForm input,
.searchConfig .searchConfigForm textarea,
.searchConfig .searchConfigForm select {
  display: block;
}

.searchConfig .searchConfigInline label,
.searchConfig .searchConfigInline input {
  display: inline;
}

.searchConfig .searchConfigHidden {
  display: none;
}