<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
  <title>SAR MAPPING DEMO</title>

  <link rel="stylesheet" href="https://js.arcgis.com/4.10/esri/css/main.css">


  <script src="{% static 'js/d3.v4.min.js' %}"></script>
  <script src="{% static 'js/d3-polygon-clip.js' %}"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://js.arcgis.com/4.10/"></script>

  <link rel="stylesheet" type="text/css" href="{% static "taskgeneration.css" %}"  />
  <style>
  html,
  body,
  #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }
  #text {
        color: white;
        padding: 3%;
      }
  </style>
  <script>

//https://developers.arcgis.com/javascript/latest/sample-code/sketch-geometries/index.html
//https://developers.arcgis.com/javascript/latest/sample-code/sandbox/index.html?sample=sketch-update-validation
    require([
      "esri/widgets/Sketch/SketchViewModel",
      "esri/Graphic",
      "esri/Map",
      "esri/views/MapView",
      "esri/layers/FeatureLayer",
      "esri/layers/GraphicsLayer",
      "esri/geometry/Polygon",
      "esri/geometry/geometryEngine",
      "esri/widgets/Expand",
        "esri/layers/TileLayer",
        "esri/widgets/BasemapToggle",//-----------------------------
      "esri/views/2d/draw/Draw",
      "esri/widgets/CoordinateConversion"//,      "esri/widgets/Sketch"

    ], function(
      SketchViewModel, Graphic, Map, MapView, FeatureLayer,
      GraphicsLayer, Polygon, geometryEngine, Expand, TileLayer,BasemapToggle,
      Draw,CoordinateConversion
    ) {
      let view, sketchViewModel,
        validSymbol, draw,
        invalidSymbol, newDevelopmentGraphic,
        instructionsExpand,coordinateLayer;
      let intersects = false,
        contains = true;
        //let graphicsLayer;
//Transportation example:
//https://developers.arcgis.com/javascript/latest/sample-code/sandbox/index.html?sample=intro-layers
//Transportation service:
//https://server.arcgisonline.com/arcgis/rest/services/Reference/World_Transportation/MapServer

      var width=1600*1.5;
      var height=900*1.5;

      var scale=17;
      var gcx=-80.572567;
      var gcy=37.203604;
      var gwidth=2343.398;
      var gheight=1372.284;
      var voronoistyle="clear";
      var glvertices;
      var glverticeslist=[];
      let maxdistanceerror = 0.000001;
//  wkid: 102100 vs wkid: 4326
//wkid 102100/pix =1.5 (2444,1366/1600,900)
//wkid 102100: left-top (-8970062.142, 4467672.843), right-bottom (-8967625.712	4466311.309)

      let allpolygons=[];
      let activepolygonset=[];
      let activepolygonpoints=[];

      const graphicsLayer = new GraphicsLayer();
      setUpView();
      function polygonClone(polygon) {
        var cloned = [],
            i,
            n;

        for (i = 0, n = polygon.length; i < n; i++) {
          cloned.push([polygon[i][0], polygon[i][1]]);
        }

        return cloned;
      }

      function FilterBoundary(x,y,maxx,maxy,minx,miny){
        if (x>maxx) {
          x=maxx;
        }
        else if (x<minx) {
          x=minx;
        }
        if (y>maxy) {
          y=maxy;
        }
        else if (y<miny) {
          y=miny;
        }
        return [x,y];
      }

      // creates new view and map, adds featurelayers and graphicslayer to the view

      // This function is called when a user clicks on the view.
      function setUpGraphicClickHandler() {
        view.on("click", function(event) {
          // check if the sketch's state active if it is then that means
          // the graphic is already being updated, no action required.
          if (sketchViewModel.state === "active") {
            return;
          }
          view.hitTest(event).then(function(response) {
            var results = response.results;
            // Check if the new development graphic was clicked and pass
            // the graphic to sketchViewModel.update() with reshape tool.
            results.forEach(function(result) {
              if (result.graphic.layer === sketchViewModel.layer &&
                result.graphic.attributes && result.graphic.attributes
                .newDevelopment) {
                sketchViewModel.update([result.graphic], {
                  tool: "reshape"
                });
              }
            });
          });
        });
      }
      setUpGraphicClickHandler();

      view.when(function() {
        // Query all buffer features from the school buffers featurelayer

        // Create a new instance of sketchViewModel and set its required properties
        sketchViewModel = new SketchViewModel({
          view: view,
          layer: graphicsLayer,
          updateOnGraphicClick: false,
          defaultUpdateOptions: { // set the default options for the update operations
            toggleToolOnClick: false // only reshape operation will be enabled
          }
        })

        activepolygonset=[];
        // Listen to sketchViewModel's update event to do
        // graphic reshape or move validation
        sketchViewModel.on(["update", "undo", "redo"], onGraphicUpdate);

      });
      function onGraphicUpdate(event) {

        // get the graphic as it is being updated
        const graphic = event.graphics[0];
        MapDivisionUpdateMover(event);

      }

      function addVoronoi(){
        let ltx=-8969950,
            lty=4466302.948,
            rbx=-8967611.602,
            rby=4467675.232;

        let tempdis=500;
            ltx=ltx-tempdis;
            lty=lty+tempdis;
            rbx=rbx-tempdis;
            rby=rby+tempdis;

        var sites = d3.range(15)//15
        .map(function(d) { return [Math.random() * gwidth+ltx, Math.random() * gheight+lty]; });
        var voronoi = d3.voronoi().extent([[ltx,lty], [rbx,rby]]);
        var diagram = voronoi(sites),
            links = diagram.links(),
            vpolygons = diagram.polygons();

        var points=[
          [-8968055.67002504, 4467092.399528231],
          [-8968043.726739371, 4467591.628869176],
          [-8969939.12617497, 4467585.657226342],
          [-8969923.5999036, 4466376.996716685],
          [-8968965.748392982, 4466375.802388118],
          [-8968683.886851205, 4466670.801544131],
          [-8968375.750080956, 4466919.221886037]
        ];
        //vpolygons=ClipPolygongsByPoints(points);

        addGraphics(vpolygons);
      }

      function ClipPolygongsByPoints(points){
        let cpy=[];
        for(var i=0;i<vpolygons.length;i++){
          var temp=d3.polygonClip(vpolygons[i],polygonClone(points.reverse()));

          if(temp.length>0){
            cpy.push(temp);
          }
        }
        return cpy;
      }
      function addTriangle(){

              var sites =[
                  [-8969595.159547715,4466816.509629287],
                  [-8969390.929362783,4466843.979186324],
                  [-8969481.698333865,4467187.9458135795],
                  [-8969408.247126916,4467306.184341663],
                  [-8968981.87182855,4467445.9207839845],
                  [-8968559.079515884,4467154.504613671],//
                  [-8968476.670844771,4467165.253570773],
                  [-8968407.399787892,4467000.436228547],
                  [-8968292.744245475,4467030.294442719],
                  [-8968181.671688758,4467198.694770645],
                  [-8967898.615818413,4467535.495426498],
                  [-8967597.645019565,4467263.188513256],
                  [-8969143.106185075,4466485.680616233],
                  [-8968569.828472985,4467659.705597452],
                  [-8968437.258002063,4467825.717268244],
                  [-8969888.367210792,4467681.203511654],
                  [-8967838.89939007,4467193.917456377],
                  [-8968891.700021924, 4466012.12933939],
                  [-8968652.834308527, 4466368.039252353],
                  [-8968332.754252575, 4466628.402879956],
                  [-8967900.407311326, 4466848.159336282],
                  [-8967661.541597927, 4466922.207707435],
                  [-8967606.602,4467675.232],
                  [-8967606.602,4466302.948],
                  [-8969950,4467675.232],
                  [-8969950,4466302.948]
              ];

              var vring=[];
              for( var i =0;i<sites.length;i++){
                vring.push(FilterBoundary(sites[i][0],sites[i][1],-8967606.602,4467675.232,-8969950,4466302.948));
              }
              sites=vring;

              var voronoi = d3.voronoi();
              var vtriangles = voronoi.triangles(sites);

              var points=[
                [-8968055.67002504, 4467092.399528231],
                [-8968043.726739371, 4467591.628869176],
                [-8969939.12617497, 4467585.657226342],
                [-8969923.5999036, 4466376.996716685],
                [-8968965.748392982, 4466375.802388118],
                [-8968683.886851205, 4466670.801544131],
                [-8968375.750080956, 4466919.221886037]
              ];

              var cpy=[];
              for(var i=0;i<vtriangles.length;i++){
                var temp=d3.polygonClip(vtriangles[i],polygonClone(points.reverse()));

                if(temp.length>0){
                  cpy.push(temp);
                }
                else{
                  console.log(i);
                }
              }

              vtriangles=cpy;
              addGraphics(vtriangles);
      }

      function addFreedraw(){
        var action = draw.create("polygon");

        // focus the view to activate keyboard shortcuts for drawing polygons
        view.focus();

        // listen polygonDrawAction events to give immediate visual feedback
        // to users as the polygon is being drawn on the view.
        action.on("vertex-add", drawPolygon);
        action.on("cursor-update", drawPolygon);
        action.on("vertex-remove", drawPolygon);
        action.on("redo", drawPolygon);
        action.on("undo", drawPolygon);
        action.on("draw-complete", drawPolygon);


      }

      function addGraphics(vtriangles) {
        // transfer the voronoi polygon:vpolygons to gispolygon

        let validSymbol = createSymbol([0, 170, 255, 0.4], "solid", 2, [255,255, 255]);

        //filter nearby points
        //vtriangles=PointsMerge(vtriangles,maxdistanceerror);

        for (var i=0;i<vtriangles.length;i++){

          vtriangles[i].push(vtriangles[i][0]);
          let polygon = createGeometry(vtriangles[i]);
          let newDevelopmentGraphic = new Graphic({
            geometry: polygon,
            symbol: validSymbol,
            attributes: {
              newDevelopment: "new store"
            }
          });
          allpolygons.push(newDevelopmentGraphic);
        }
        //view.graphics.add(newDevelopmentGraphic);
        //graphicsLayer.addMany([newDevelopmentGraphic]);
        //graphicsLayer.graphics.add(newDevelopmentGraphic);
        graphicsLayer.addMany(allpolygons);
      }

      function createGeometry(vertices) {

        return new Polygon({
          rings: vertices,
          //spatialReference: {wkid: 102100 }
          spatialReference: view.spatialReference
        });
      }

      function createSymbol(color, style, width, outlineColor) {
        return {
          type: "simple-fill",
          style: style,
          color: color,
          outline: {
            color: outlineColor,
            width: width
          }
        }
      }

      // Create new view, map and layers... set up the view
      function setUpView() {
        coordinateLayer=new FeatureLayer({
          spatialReference: { wkid: 102100  }
        });


        //graphicsLayer = new GraphicsLayer();

        const map = new Map({
          basemap: "hybrid",//"hybrid",//"satellite",
          layers: [  graphicsLayer]
        });


        var transportationLayer = new TileLayer({
          url: "https://server.arcgisonline.com/arcgis/rest/services/Reference/World_Transportation/MapServer",
          // This property can be used to uniquely identify the layer
          id: "something",
          visible: true
        });
        map.add(transportationLayer);
        //console.log(transportationLayer);
        view = new MapView({
          container: "viewDiv",
          map: map,
          zoom: scale,
          center: [gcx,gcy]//,35.4
        });
        var toggle = new BasemapToggle({
          // 2 - Set properties
          view: view, // view that provides access to the map's 'topo' basemap
          nextBasemap: "topo" // allows for toggling to the 'hybrid' basemap
        });

        // Add widget to the top right corner of the view
        view.ui.add(toggle, "bottom-left");
        setupEditing();
        view.ui.add("draw-polygon", "top-left");
        draw = new Draw({
        view: view
      });
      }
      document.getElementById("draw-polygon").addEventListener("click",
        function() {
          voronoistyle="sidebar";
          //view.graphics.removeAll();

          var action = draw.create("polygon");

          // focus the view to activate keyboard shortcuts for drawing polygons
          view.focus();

          // listen polygonDrawAction events to give immediate visual feedback
          // to users as the polygon is being drawn on the view.
          action.on("vertex-add", drawPolygon);
          action.on("cursor-update", drawPolygon);
          action.on("vertex-remove", drawPolygon);
          action.on("redo", drawPolygon);
          action.on("undo", drawPolygon);
          action.on("draw-complete", drawPolygon);

        });



        $(document).ready(function(){
            $('input:checkbox').click(function() {
                $('input:checkbox').not(this).prop('checked', false);
                if(this.checked) voronoistyle=this.value;

            });
        });
        //generate voronoi
        document.getElementById("btngeneratearea").onclick=function() {
          graphicsLayer.removeAll();
          view.graphics.removeAll();
          allpolygons=[];

          glverticeslist=[];
          if(voronoistyle=="random"){
            addVoronoi();
            //view.complete();
          }
          else if(voronoistyle=="triangle"){
            addTriangle();
            //view.complete();
          }
          else if(voronoistyle=="clear"){

            addFreedraw();
          }

        };

        document.getElementById("btnaddpolygon").onclick=function() {
          view.graphics.removeAll();
          glverticeslist=[];
          addFreedraw();
      };


      // this function is called from the polygon draw action events
      // to provide a visual feedback to users as they are drawing a polygon
      function drawPolygon(event) {
        if(voronoistyle!="clear" && voronoistyle!="sidebar") return;
        var glvertices = event.vertices;
        //remove existing graphic
        view.graphics.removeAll();

        if(glverticeslist.length>0) addGraphics(glverticeslist);

        // create a new polygon
        var polygon = new Polygon({
          rings: glvertices,
          spatialReference: view.spatialReference
        });

        // create a new graphic representing the polygon, add it to the view
        var graphic = new Graphic({
          geometry: polygon,
          symbol: {
            type: "simple-fill", // autocasts as SimpleFillSymbol
            color: [178, 102, 234, 0.8],
            style: "solid",
            outline: { // autocasts as SimpleLineSymbol
              color: [255, 255, 255],
              width: 2
            }
          }
        });

        view.graphics.add(graphic);

        // calculate the area of the polygon
        var area = geometryEngine.geodesicArea(polygon, "acres");
        if (area < 0) {
          // simplify the polygon if needed and calculate the area again
          var simplifiedPolygon = geometryEngine.simplify(polygon);
          if (simplifiedPolygon) {
            area = geometryEngine.geodesicArea(simplifiedPolygon, "acres");
          }
        }
        // start displaying the area of the polygon
        labelAreas(polygon, area);

        if(event.type=="draw-complete"){
          addGraphics(glvertices);
          if( voronoistyle=="clear"){

            glverticeslist.push(glvertices);
            //addFreedraw();
          }
        }
      }



      //Label polyon with its area
      function labelAreas(geom, area) {
        var graphic = new Graphic({
          geometry: geom.centroid,
          symbol: {
            type: "text",
            color: "white",
            haloColor: "black",
            haloSize: "1px",
            text: area.toFixed(2) + " acres",
            xoffset: 3,
            yoffset: 3,
            font: { // autocast as Font
              size: 14,
              family: "sans-serif"
            }
          }
        });
        view.graphics.add(graphic);
      }

      function setupEditing() {
        // input boxes for the attribute editing
        editArea = document.getElementById("editArea");


        // Listen to the feature form's submit event.


        // Expand widget for the editArea div.
        const editExpand = new Expand({
          expandIconClass: "esri-icon-edit",
          expandTooltip: "Expand Edit",
          expanded: true,
          view: view,
          content: editArea
        });

        view.ui.add(editExpand, "top-right");

      }

      var ccWidget = new CoordinateConversion({
        view: view
        //container: "coordinatesdiv"
      });
      view.ui.add(ccWidget, "bottom-left");
      //view.ui.add(ccWidget,document.getElementById("coordinatesdiv"));


//-----------------adding new functions here---------------------

      function MapDivisionUpdateMover(event){
        //console.log("event");
        //console.log(event);
        let graphic = event.graphics[0];
        let mover,temppolyset;

        //if(event.toolEventInfo != null){
        //  console.log(event.toolEventInfo.mover.geometry.x +","+ event.toolEventInfo.mover.geometry.y+":"+ event.toolEventInfo.type );
        //}
        //if is the first active or not
        if (event.state=="active"){


          mover=event.toolEventInfo.mover.geometry;
          t_pointIndex=event.toolEventInfo.mover.attributes.pointIndex;
          orignalmover=event.graphics[0].geometry.rings[0][t_pointIndex];

          if(event.toolEventInfo.type=="reshape-start"){

            temppolyset=[];
            activepolygonpoints=[];
            //selected=event.toolEventInfo.selected[0].geometry;
            for(let i=0;i<allpolygons.length;i++){
              if(geometryEngine.equals(allpolygons[i].geometry,graphic.geometry)){
                temppolyset.push(allpolygons[i]);
                continue;
              }
              if(geometryEngine.touches(mover,allpolygons[i].geometry)){
                //array, start end with the two nearby points
                //let array_points=GetPolygonPoints(mover.x,mover.y,allpolygons[i].geometry.rings[0]);
                let array_points=GetPolygonPoints(orignalmover[0],orignalmover[1],allpolygons[i].geometry.rings[0]);
                activepolygonpoints.push(array_points);
                //console.log("mover"+mover.x+","+mover.y);
                //console.log("original"+orignalmover[0]+","+orignalmover[1]);
                //console.log(activepolygonset);
                activepolygonset.push(allpolygons[i]);

              }
              else{
                temppolyset.push(allpolygons[i]);
              }
            }
            allpolygons=temppolyset;
          }
          else if(event.toolEventInfo.type=="reshape"){

          }
          else if(event.toolEventInfo.type=="reshape-stop"){

            allpolygons=allpolygons.concat(activepolygonset);
            activepolygonset=[];

          }
          //renew the polygons
          if(activepolygonset.length>0){

            graphicsLayer.removeMany(activepolygonset);
            activepolygonset=GeneratePolygonBasedonPoints(mover.x,mover.y,activepolygonpoints);
            graphicsLayer.addMany(activepolygonset);

          }

        }
      }

      //tpoly is an array[[,],[,]]
      function GetPolygonPoints(x,y,tpoly){

        let t_array=[];
        let i=0;
        let tlen=tpoly.length;
        let pointofline=0;//0: not on line, 1: vertices, 2: center, 3: on the line
        for(i=0;i<tlen-1;i++){
          if(Math.abs(tpoly[i][0]-x< maxdistanceerror) && Math.abs(tpoly[i][1]-y)< maxdistanceerror ){
            pointofline=1;
            break;
          }

        }

        if( pointofline===1 ){
          console.log("points as vertices");
          //poins as vertices of the line
          t_array=t_array.concat(tpoly.slice(i+1,tlen-1),tpoly.slice(0,i));
          //console.log(t_array);
          return t_array;
        }

        for(i=0;i<tlen-1;i++){
          if (Math.abs( 0.5*( tpoly[i][0]+tpoly[i+1][0] )-x< maxdistanceerror )
                  && Math.abs( 0.5*( tpoly[i][1]+tpoly[i+1][1] )-y < maxdistanceerror )){
                    pointofline=2;
                    break;
          }
        }        
        if (pointofline===2){
          console.log("points on line");
          t_array=t_array.concat(tpoly.slice(i+1,tlen-1),tpoly.slice(0,i+1));
        }
        else{
          //poins on the line
          //add more pass
          console.log("points not on line");
          t_array=null;
        }
        return t_array;
      }

      //update new polygon
      function GeneratePolygonBasedonPoints(x,y,array_points){
        let tmppolysets=[];
        validSymbol = createSymbol([0, 170, 255, 0.4], "solid", 2, [255,
          255, 255
        ]);
        //console.log(array_points);
        if(array_points.length==0){
          return tmppolysets;
        }
        for(let i=0;i<array_points.length;i++){
          entry=array_points[i];

          let vertices=[];
          vertices=vertices.concat([[x,y]],entry,[[x,y]]);
          //console.log(vertices);
          //console.log("-------------");
          let polygon = createGeometry(vertices);
          newDevelopmentGraphic = new Graphic({
            geometry: polygon,
            symbol: validSymbol,
            attributes: {
              newDevelopment: "new store"
            }
          });
          tmppolysets.push(newDevelopmentGraphic);
        }

        return tmppolysets;
      }

      function PointsMerge(points_array,maxd){
        //ring with no points repeated

        resarray=[];
        while(points_array.length>0){
          entry=points_array.pop();
          console.log(entry);
          let i=0;
          for(i = 0;i<points_array.length;i++){
            if(Math.abs(points_array[i][0]-entry[0]< maxd) && Math.abs(points_array[i][1]-entry[1])< maxd ){
              break;
            }
          }
          if(i<points_array.length){
            continue;
          }
          else{
            resarray.push(entry);
          }
        }
        return resarray;
      }
//-----------------------------------------------------

    });


  </script>
</head>

<body>
  <div id="editArea" class="editArea-container">
    <h2 class="list-heading">Tools</h2>
    <div id="addFeatureDiv">

      <h3 class="list-heading">Map</h3>
      <div><input type="checkbox" name="voronoi" class="check" value="random"> Random Voronoi</input></div>
      <div><input type="checkbox" name="voronoi" class="check" value="triangle"> Triangle based on vertices</input></div>
      <!--div><input type="checkbox" name="voronoi" class="check" value="clear"> Freehand Polygon</input></div-->

      <input type="button" class="edit-button" value="Generate area" id="btngeneratearea">
    </div>
    <div>
    </div>
    <div id="draw">
      <h3 class="list-heading">Add Freehand Polygon</h3>
      <div>Add a freehand polygon and measure polygon. Finish task by double click</div>
      <div><input type="button" class="edit-button" value="Add Polygon" id="btnaddpolygon"></input></div>
    </div>

  </div>
  <div id="viewDiv">
    <!--div id="SARParameter" class="SARP-container">
      <div id="text">
        <h1>Tools</h1>
        <p>This is a test page for dividing map for SAR tasks</p>

      </div>

    </div-->
    <div id="draw-polygon" class="esri-widget--button esri-widget esri-interactive"
      title="Draw and measure polygon">
      <span class="esri-icon-polygon"></span>
    </div>
  </div>


</body>

</html>
