<!DOCTYPE html>
<html lang="en-us">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>WebGL VACSE</title>
    <link type="text/css" href="{% static "css/webgl.css" %}" rel="stylesheet" />
    <!--
    <link rel="stylesheet" href="{% static "TemplateData/style.css" %}">
  -->
    <script src="{% static "TemplateData/UnityProgress.js" %}"></script>
    <script src="{% static "Build/UnityLoader.js" %}"></script>
    <script>
      var gameInstance = UnityLoader.instantiate("gameContainer", "{% static "Build/webtest1.json" %}", {onProgress: UnityProgress});
    </script>
  </head>
  <body>
    <div class="webgl-content">
      <div id="gameContainer" ></div>
      <div class="footer">
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
        <div class="title">WebGLVACSE</div>
      </div>
    </div>
  </body>
</html>
