<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title> ConsentForm</title>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
    <style>
      body {
            text-align: center;
        }
      .button{
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }
      .consent{
        float:center;
        display: inline-block;
        width="500px";
        vertical-align: middle;
      }
    </style>

  </head>

<body onload="myFunction()">
    <div id="wrapper" class="page-header mb-3">
        <h1>Before we start</h1>
        
        
        <form action="https://virginiatech.qualtrics.com/jfe/form/SV_cvjhA08jCrEvcDH" target="_blank">
            <input type="submit" value="View Consent Form" />
        </form>
      <!--embed src="{% static 'files/consentform.pdf' %}" width="100%" height="800px"-->

      <div class="consent" >
        <form action="consentform_action" method="post" id="quiz">
          {% csrf_token %}
            <div style="float: left;">
              <input type="checkbox" name="check1" value="False" id="mycheck" onclick="handleClick(this)">
                <label for="mycheck">Please confirm that you have read the consent form and fully understand your rights.</label>
            </div>
            
          <div style="float: right; width: 130px;">
            <input type="submit" value="Start Experiment" id="agree"  disabled/>
              <!--input type="submit" value="Start Experiment" id="agree" onclick="dismissAddAnotherPopup(this)" disabled/-->
          </div>
        
            <div hidden>
                <input type="text" id="participantid" name="participantid" value="test">
                <label for="fname">Please enter your name:</label>
                <input type="text" id="participantname" name="participantname" value="test">
            </div>
            
        </form>

      </div>

    </div>
    <script>
      function handleClick(cb){
        bt = document.getElementById("agree");
        if(cb.checked){
          bt.disabled=false;
            cb.value="Ture";
          //document.getElementById("myBtn").disabled = true;
        }
        else{
          bt.disabled=true;
            cb.value="False";
        }

      }
      function dismissAddAnotherPopup(win) {
       window.close();
      }

      function myFunction(){
        document.getElementById("participantid").value = Date.now().toString();
      }
    </script>
  </body>
</html>
