<!doctype html>
<html>
  <head>
    <title>This is the title of the webpage!</title>
  </head>
  <body>
    <p><a href="{% url 'experiment' %}">Experiment Page</a></p>
    <p><a href="{% url 'full' %}">Full Page</a></p>
    <p><a href="{% url 'watershed' %}">Map division Page</a></p>

    <a href="http://127.0.0.1:8000/gpsdatas/">GPS Data(/gpsdatas)</a>
    <p>
      This is an example paragraph. Anything in the <strong>body</strong> tag will appear on the page, just like this <strong>p</strong> tag and its contents.
    </p>
  </body>
</html>
